Package: com.KlashKsa.Path
Name: Path By PATH MOBILE INC PTE. LTD.
Depends: mobilesubstrate
Version: 7.0.1
Architecture: iphoneos-arm
Description: Hacked by 【қłΔѕн۩қѕΔ】 add me on twitter @Y_Dagriri for more hacks
Maintainer: 【қłΔѕн۩қѕΔ】 
Author: 【қłΔѕн۩қѕΔ】 
Section: Tweaks
Homepage:https://twitter.com/Y_Dagriri